{% extends "admin_layout.html" %}
{% block content %}
	{% if not editor %}
		<div class="jumbotron">
			<h1>Lag hjelpetekster</h1>
			<p class="lead">Dette programmet hjelper deg å lage og administrere hjelpetekster til <a href="http://www.kursadmin.org">KursAdmin</a>. Hjelpetekstene kan vise forklarende tekst og videoinstruksjoner til brukerne ved vanskelige felt.</p>
			{% if user %}
			<p>
				<select name="stf" id="stf" class="form-control input-lg" style="margin-bottom:15px" onchange="window.location = '/' + this.options[this.selectedIndex].value;">
					<option value="">-- Velg studieforbund --</option>
					{% for forbund in studieforbund %}
					<option value="{{ forbund.nr }}"{% if forbund.nr == stf %} selected="selected"{% endif %}>{{ forbund.navn }}</option>
					{% endfor %}
				</select>
				{% if stf and not editor and user %}
					{% if not pending %}
						<div><textarea id="beomtilgang_merknad" class="form-control input-lg" placeholder="Hvem er du, og hvorfor skal du ha tilgang?" style="margin-bottom:15px"></textarea></div>
						<button type="button" id="beomtilgang" class="btn btn-info">Søk om tilgang</button>
					{% else %}
						<button type="button" class="btn btn-info" disabled="disabled">Venter på tilgang...</button>
					{% endif %}
				{% endif %}
			</p>
			{% else %}<p><a class="btn btn-lg btn-success" href="{{loginUrl}}" role="button">Logg inn nå</a></p>{% endif %}
		</div>
	{% else %}
		<div class="row">
			<div class="col-sm-4">
				<select name="stf" class="form-control input-md" onchange="window.location = '/' + this.options[this.selectedIndex].value;">
					<option value="">-- Velg studieforbund --</option>
					{% for forbund in studieforbund %}
					<option value="{{ forbund.nr }}"{% if forbund.nr == stf %} selected="selected"{% endif %}>{{ forbund.navn }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-4">
				<select name="side" class="form-control input-md" onchange="window.location = '/{{ stf }}/' + this.options[this.selectedIndex].value;">
				<option value="">-- Velg visning --</option>
				{% for siden in sider %}
					<option value="{{ siden.nr }}"{% if siden.nr == side %} selected="selected"{% endif %}>{{ siden.nr }} {{ siden.navn }}</option>
				{% endfor %}
				</select>
			</div>
			{% if side %}
			<div class="col-sm-2 col-xs-6">
				<a href="/{{ stf }}/{{ side }}/create" class="btn btn-success btn-block" title="Lag en ny hjelpetekst i den aktuelle visningen"><span class="glyphicon glyphicon-plus"></span> Ny</a>
			</div>
			<div class="col-sm-2 col-xs-6">
				<a href="/{{ stf }}/{{ side }}/publiser" class="btn btn-warning btn-block" id="leggut" title="Legg ut i produksjon"><span class="glyphicon glyphicon-upload"></span> Legg ut</a>
			</div>
			{% endif %}
		</div>
		<hr>
		{% if hjelpetekster %}
			{% if entity %}
			<form role="form" class="text-left" method="post" action="/{{ stf }}/{{ side }}/{{ entity }}">
			<h3>Rediger hjelpetekst</h3>
				<div class="form-group">
					<label for="selector">Objekt-ID <small class="text-muted">&nbsp; identifiserer objektet hjelpeteksten skal bindes til</small></label>
					<input type="text" name="selector" id="selector" required class="form-control" value="{{ hjelpetekster[0].selector }}">
				</div>
				<div class="form-group">
					<label for="tittel">Tittel <small class="text-muted">&nbsp; tittel på denne hjelpeteksten</small></label>
					<input type="text" name="tittel" id="tittel" required class="form-control" value="{{ hjelpetekster[0].tittel }}">
				</div>
				<div class="form-group">
					<label for="tekst">Tekst <small class="text-muted">&nbsp; hjelpetekstens innhold</small></label>
					<textarea name="tekst" id="tekst" class="form-control">{{ hjelpetekster[0].tekst }}</textarea>
				</div>
				<div class="form-group">
					<label for="video">YouTube-video <small class="text-muted">&nbsp; link til instruksjonsvideo på YouTube</small></label>
					<input type="text" name="video" id="video" class="form-control" value="{{ hjelpetekster[0].video }}">
				</div>
				<div class="form-group">
					<label for="link">Les mer <small class="text-muted">&nbsp; link til mer informasjon om funksjonen</small></label>
					<input type="text" name="link" id="link" class="form-control" value="{{ hjelpetekster[0].link }}">
				</div>
				<div class="checkbox"><label><input type="checkbox" name="publisert" id="publisert" value="true"{% if hjelpetekster[0].publisert %} checked{% endif %}> Publisert</label></div>
				<p>
					{% if editor %}
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Lagre</button>
					<!--<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett</button>-->
					{% endif %}
					<a href="./" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Tilbake</a>
					<button type="button" class="btn btn-warning" id="fhvht"><span class="glyphicon glyphicon-zoom-in"></span> Forhåndsvis</button>
				</p>
			</form>
			{% else %}
			<table class="table table-hover table-striped text-left">
				<thead>
				<tr><th>Tittel</th><th>Objekt-ID</th><th>Endret</th></tr>
				</thead>
				<tbody>
			{% for hjelpetekst in hjelpetekster %}
				<tr><td>{% if hjelpetekst.publisert %}<span class="glyphicon glyphicon-eye-open" title="Publisert"></span>{% else %}<span class="glyphicon glyphicon-eye-closed" title="Ikke publisert"></span>{% endif %} <a href="/{{ stf }}/{{ side }}/{{hjelpetekst.key.urlsafe()}}" title="Klikk for å vise eller endre denne oppføringen">{{ hjelpetekst.tittel }}</a></td>
					<td>{{ hjelpetekst.selector }}</td>
					<td>{{ hjelpetekst.endret.strftime("%d.%m.%Y %H:%M") }} av {{ hjelpetekst.bruker }}</td>
					</tr>
			{% endfor %}
				</tbody>
			</table>
			{% endif %}
		{% else %}
			{% if tekst %}
				<form role="form" class="text-left" method="post" action="/{{ stf }}/{{ side }}">
				<h3>Rediger hjelpeoversikt-seksjon</h3>
					<div class="form-group">
						<label for="tittel">Tittel <small class="text-muted">&nbsp; tittel på denne seksjonen</small></label>
						<input type="text" name="tittel" id="tittel" required class="form-control" value="{{ tekst.tittel }}">
					</div>
					<div class="form-group">
						<label for="raw">Tekst <small class="text-muted">&nbsp; tekstens innhold, støtter markdown-formatering (se under)</small></label>
						<textarea name="raw" id="raw" style="height:500px" class="form-control">{{ tekst.raw }}</textarea>
					</div>
					<div class="checkbox"><label><input type="checkbox" name="publisert" id="publisert" value="true"{% if tekst.publisert %} checked{% endif %}> Publisert</label></div>
					<p>
						{% if editor %}
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Lagre</button>
						<!--<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett</button>-->
						{% endif %}
						<a href="./" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Tilbake</a>
						<button type="button" class="btn btn-warning" id="fhvmd"><span class="glyphicon glyphicon-zoom-in"></span> Forhåndsvis</button>
					</p>
				</form>
				<div id="fhvdiv" class="fhv"></div>
				<hr>
				<h3>Markdown-hjelp</h3>
				<p>Her er et lite utvalg av nyttige formateringer. Skriv vanlig tekst i vanlige avsnitt, med en blank linje mellom hvert avsnitt. Dette gir universelt utformet kode.</p>
				<h4>Overskrifter <small>(Ikke bruk overskrift 1)</small></h4>
				<pre>
## Overskrift 2 (størst)
### Overskrift 3 (mindre)
#### Overskrift 4 (mindre)</pre>
				<h4>Utheving</h4>
				<pre>Slik uthever du *kursiv tekst*, **fet tekst** eller ***begge deler***.</pre>
				<p>Slik uthever du <em>kursiv tekst</em>, <strong>fet tekst</strong> eller <em><strong>begge deler</em></strong>.</p>
				<h4>Lister</h4>
				<pre>
* Punktliste
* Punktliste
  * Underpunkt
  * Underpunkt
* Punktliste

  Du kan ha flere avsnitt under ett punkt hvis du starter avsnittet med et passende innrykk.</pre>
				<ul><li>Punktliste</li><li>Punktliste<ul><li>Underpunkt</li><li>Underpunkt</li></ul></li><li><p>Punktliste</p><p>Du kan ha flere avsnitt under ett punkt hvis du starter avsnittet med et passende innrykk.</p></li></ul>
				<pre>
1. Nummerert liste
2. Nummerert liste</pre>
				<ol><li>Nummerert liste</li><li>Nummerert liste</li></ol>
				<p>Nummerert liste og punktliste kan blandes og legges i flere nivåer.</p>
				<h4>Lenker</h4>
				<pre>Slik lager du en [lenke til Google](https://www.google.com),
eller til [en annen side](http://funkis.no/node/195 "med titteltekst").</pre>
				<p>Slik lager du en <a href="https://www.google.com">lenke til Google</a>, eller til <a href="http://funkis.no/node/195" title="med titteltekst">en annen side</a>.</p>
				<h4>Bilder</h4>
				<pre>Slik setter du inn et bilde: ![alternativ tekst](http://funkis.no/sites/default/files/styles/thumbnail/public/field/image/077_1.jpg "Valgfri titteltekst")</pre>
				<p>Slik setter du inn et bilde: <img alt="alternativ tekst" src="http://funkis.no/sites/default/files/styles/thumbnail/public/field/image/077_1.jpg" title="Valgfri titteltekst"></p>
				<h4>Horisontal linje</h4>
				<pre>---</pre>
			{% elif side %}
				<div class="alert alert-info"><em>Ingen hjelpetekster er lagt inn i denne visiningen.</em></div>
			{% else %}
				<div class="alert alert-warning"><em>Velg en visning fra lista over.</em></div>
			{% endif %}
		{% endif %}
		<hr>
	{% endif %}
{% endblock %}
